html,
body {
  width: 100vw;
  min-height: 100vh;
  background: #a2d6eb;
}
nav {
  margin-bottom: 10px;
}
.navbar {
  background-color: #32697F;
  color: white;
}
.navbar-brand {
  padding: 10px;
}
.navbar-menu {
  background-color: #2C3A40;
}
.navbar-item {
  color: white;
}
hr {
  background-color: #2C3A40;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
.padded {
  padding: 20px;
}
.space-up {
  margin-top: 30px;
}
.space-down {
  margin-bottom: 30px;
}
