{% extends "base.html" %}
{% block content %}
<div class="columns">
  <div class="column is-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Presenter</th>
          <th>Session Title</th>
          <th>Duration (mins)</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
          <tr>
            <td>{{session.id}}</td>
            <th>{{session.presenter_name }}</th>
            <td>{{session.session_title}}</td>
            <td>{{session.session_duration}}</td>
            <td>{{session.session_description}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
