<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Days - Nov 2018</title>
    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/css/screen.css" %}
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1>Tech Days - Nov 2018</h1>
      </div>

      <div class="navbar-menu is-active">
        <div class="navbar-start">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/admin">Admin</a>
        </div>
        <div class="navbar-end" />
      </div>
    </nav>
    <!-- main container -->
    <div class="container padded">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
