{% extends "base.html" %}
{% block content %}
<div class="columns">
  <div class="column is-7 is-offset-2">
    <div class="notification is-info">Please enter details of your session</div>
    <hr/>
    {% if errors %}
      {% for key,val in errors %}
        <div class="notification is-danger">{{key}} - {{val}}</div>
      {% endfor %}
    {% endif %}
    {% if message %}
      <div class="notification is-success">{{message}}</div>
    {% endif %}
    <form method="POST" action="/sessions">
      {% csrf-field %}
      <div class="field">
        <label class="label">Your name:</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. Jane Doe" name="presenter-name" required>
        </div>
        <p class="help">* Required</p>
      </div>
      <div class="field">
        <label class="label">Session Title:</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. What's new in Vue.js" name="session-title" required>
        </div>
        <p class="help">* Required</p>
      </div>
      <div class="field">
        <label class="label">Session Description:</label>
        <textarea class="textarea" name="session-description" ></textarea>
        <p class="help">10 - 150 words</p>
      </div>
      <div class="field">
        <label class="label">Session Duration:</label>
        <div class="select">
          <select name="session-duration">
            <option value="15">15 mins</option>
            <option value="30">30 mins</option>
            <option value="50">60 mins</option>
          </select>
        </div>
      </div>
      <div class="field space-up">
        <div class="control">
          <button type="submit" class="button is-link">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
