{% extends "base.html" %}
{% block content %}
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="notification is-info">Please login</div>
      <hr>
      <form method="POST" action="/login">
        {% csrf-field %}
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" placeholder="Username" name="username" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password" name="password" required>
          </div>
        </div>

        <div class="field space-up space-down">
          <div class="control">
            <button type="submit" class="button is-primary">Login</button>
          </div>
        </div>
      </form>
      {% if errors %}
        {% for key,val in errors %}
          <div class="notification is-danger">{{val}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
